main {
    display: flex;
    align-items: center;
    margin: 0;
    flex-direction: column;
    margin-top: 50px;
}
canvas {
    border: 1px solid;
    position: sticky;
    top: 20px;
    z-index: 999;
    backdrop-filter: blur(20px);
    background-color: #1f293775;
    -webkit-backdrop-filter: blur(20px);
}
.math-container {
    background-color: #4b5563;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
}